@{
    ViewBag.Title = "Index";
}
<div id="main"></div>


@section scripts{
    <script type="text/javascript" src="http://localhost:5590/common.js"></script>
    <script type="text/javascript" src="http://localhost:5590/main.js"></script>
}